<body>
    { <%- include("../header.ejs") %> }
    <div class="container">
        <div class="row">
          <div class="col"></div>

          <div class="col-6">
            <h2>Id: <%- s.idLiga %></h2>
            <h2>Tara: <%- s.tara %></h2>
            <!-- <h2>Viteza: <%- s.speed %></h2>
            <h2>Pret pe ora: <%- s.price_per_hour %></h2>
            <h2>Greutate maxima: <%- s.max_weight %></h2> -->
            <!-- <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Adresa de email</span>
            <input type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Parola contului</span>
            <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-custom btn-block">Intra in cont</button> -->
          </div>
          <div class="col"></div>
        </div>
    </div>
    <%- include("../footer.ejs") %>
</body>