<body>
  <button id="home"><a href="/">Home</a></button>
  <div class="container">
    <% var linkToOneTeam = "/echipe/update/" + s.idEchipa;%>
    <div class="row">
      <div class="col"></div>

      <div class="col-6">
        <h2><%- title %></h2>
        <h2>Id: <%- s.idEchipa %></h2>
        <h2>Nume: <%- s.nume %></h2>
        <h2>Liga: <%- s.idLiga %></h2>
        <h2>Buget: <%- s.buget %></h2>
      </div>
      <div class="col"></div>
    </div>
    <a href="<%- linkToOneTeam%>"><h2>Editeaza</h2></a>
    <a href="/echipe/getAll"><h2>Vezi lista</h2></a>
  </div>
</body>
