<body>
    { <%- include("./header.ejs") %> }
    <div class="container">
        <div class="row">
          <div class="col"></div>

          <div class="col-6">
            <h2>Id: <%- s.idLiga %></h2>
            <h2>Tara: <%- s.tara %></h2>
            <h2>Nume: <%- s.nume %></h2>
          </div>
          <div class="col"></div>
        </div>
    </div>
    <%- include("./footer.ejs") %>
</body>